
<h1>Lista de locales</h1>
<div class="clear" style="padding: 15px"></div>
<table class="table" style="padding: 10px;">
  <thead>
    <tr>
      <th scope="col">t_cab_local_app_id</th>
      <th scope="col">correo_local</th>
      <th scope="col">departamento</th>
      <th scope="col">direccion</th>
      <th scope="col">distrito</th>
      <th scope="col">id_local</th>
      <th scope="col">provincia</th>
      <th scope="col">telefono_local</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>